<div class="container">
  <h2>계정확인 이메일을 못받으셨다구요?</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :이메일%><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "계정확인 이메일 재전송" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>