<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="contact.html" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>
  <main class="mdl-layout__content">
    <div class="site-content">
      <div class="container"><div class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <%= image_tag('portfolio1.jpg') %>

          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Rocky Peak</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
          </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
            Learn More
          </a>
        </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <%= image_tag('portfolio2.jpg') %>
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Night Shadow</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
          </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
            Learn More
          </a>
        </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <%= image_tag('portfolio3.jpg') %>

          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Sky Reach</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
          </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
            Learn More
          </a>
        </div>
        </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <%= image_tag('portfolio4.jpg') %>

        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Pencil Tip</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
        </div><br>        <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
          Learn More
        </a>
      </div>
      </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <%= image_tag('portfolio5.jpg') %>

        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Magic Leaves</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
        </div><br>        <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
          Learn More
        </a>
      </div>
      </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <%= image_tag('portfolio6.jpg') %>
        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Water Flow</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
        </div><br>        <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
          Learn More
        </a>
      </div>
      </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <%= image_tag('portfolio7.jpg') %>
        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Lonely Bridge</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
        </div><br>        <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
          Learn More
        </a>
      </div>
      </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <%= image_tag('portfolio8.jpg') %>
        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Busy Street</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
        </div><br>        <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
          Learn More
        </a>
      </div>
      </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <%= image_tag('portfolio9.jpg') %>
        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">City Scape</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..
        </div><br>        <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-page.html">
          Learn More
        </a>
      </div>
      </div>
      </div></div>
    </div>
  </main>

  <!-- ICON, NAME AND DESCRIPTION -->
  <div class="wow fadeInUp content-card">
    <!-- REPLACE WITH YOUR APP URL -->
    <a href="YOUR_APP_URL_HERE">
      <paper-fab class="mobile-fab" icon="shop"></paper-fab>
    </a>

    <div class="icon-and-title-flex">
      <%= image_tag('ic_launcher.png') %>
      <div class="title-container">
        <!-- REPLACE WITH YOUR APP NAME -->
        <span class="text-title">AppSite</span>
        <br><div class="intertext-padding"></div>
        <!-- REPLACE WITH YOUR DEV NAME -->
        <span class="text-subtitle">by Faiz Malkani</span>
        <br><div class="intertext-padding"></div>
        <!-- REPLACE WITH YOUR APP PRICE -->
        <span class="text-subtitle">$1.99</span>
      </div>
    </div><br><br>
    <!-- REPLACE WITH YOUR APP DESCRIPTION -->
    <span class="text-description" style="font-size: 1.1em">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida tristique condimentum. Quisque tempus eleifend sollicitudin. Nulla congue in erat et euismod. Nulla pellentesque leo id dui tempor lobortis. Phasellus sollicitudin ut massa eu dictum. Pellentesque viverra a diam a feugiat. Morbi non lorem et ex finibus elementum. Morbi pharetra risus eget quam pellentesque, sed laoreet purus malesuada. Aenean ut nibh quis lacus mollis euismod. Maecenas pellentesque magna vehicula convallis hendrerit. Sed maximus urna sed suscipit facilisis. Aenean posuere, ligula quis fermentum vulputate, quam nisi pulvinar felis, et sodales ligula augue sit amet nunc. Curabitur eget orci et tortor rhoncus consequat et id nunc.
    </span>
  </div>

</div>