<main class="mdl-layout__content">
  <div class="site-content">
    <section class="mdl-grid site-max-width">
      <div class="mdl-cell mdl-card mdl-cell--8-col mdl-cell--4-col-tablet  mdl-shadow--4dp portfolio-card">
        <div class="slider">
          <ul class="slides">
            <li>
              <%= image_tag('#') %>
            </li>
            <li>
              <%= image_tag('#') %>
            </li>
            <li>
              <%= image_tag('#') %>
            </li>
            <li>
              <%= image_tag('#') %>
            </li>
          </ul>
        </div>

      </div>
      <div class="demo-card-event mdl-cell mdl-card mdl-shadow--4dp event-card portfolio-card">
        <div class="mdl-card__title mdl-card--expand">
          <ol>
            <% @course.locations.each do |l| %>
                <li>
                  <input type="button" class="place" id="<%=l.place_id%>" value="<%= l.name %>">
                </li>
            <% end %>
          </ol>
        </div>
      </div>
    </section>

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp welcome-card portfolio-card">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Welcome</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>지도 요약</p>

        <!--지도-->
        <div id="map"></div>

      </div>
    </div>

    <div class="site-max-button">
      <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent blue lighten-2" href="#">Join</a>
    </div>
  </div>

  <footer class="mdl-mini-footer blue-text text-darken-2 white">
    <div class="footer-container blue-text text-darken-2">
      <div class="mdl-logo blue-text text-darken-2">&copy; Unitiled. Design: <a href="https://templateflip.com/" target="_blank" class="blue-text text-darken-2">TemplateFlip</a></div>
      <ul class="mdl-mini-footer__link-list blue-text text-darken-2">
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  </footer>
</main>

<style>
  .site-max-width {
    height: 400px;
  }
  .site-max-width {
    max-width: 1040px;
  }
  .mdl-cell--12-col, .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
    margin: 1em auto;
    max-width: 1000px;
  }
  .site-max-button {
    padding: 50px;
    text-align: center;
    height: 100px;
  }
  .slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .slider .indicators .indicator-item.active {
    background-color: #ffffff;
  }
  .slider .indicators {
    bottom: 60px;
    z-index: 100;
    /* text-align: left; */
  }
  .slider .slides {
    background-color: rgba(158, 158, 158, 0);
  }
  .site-navigation-row .mdl-navigation {

    background-color: rgba(0,0,0,0);
  }
  .event-card {
    background: white;
  }
  .mdl-layout__header{
    background-color: white;
  }
  .mdl-layout__header-row{
    background-color: white;
  }

  /*지도 height 없으면 지도 사라짐*/
  #map {
    height: 50%;
    width: 50%;
    border: solid 1px;
    min-height: 300px;
    min-width: 300px;
  }
</style>


<script>
    $(document).ready(function(){
        $('.slider').slider();
    });

    //지도
    var map;
    var geocoder;
    var infowindows;
    var marker;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: {lat: 37.449610, lng: 126.653084}
        });
        geocoder = new google.maps.Geocoder;
        infowindow = new google.maps.InfoWindow;
    }

    $(document).on('click', '.place', function geocodePlaceId() {
        var placeId = $(this).attr("id");
        var placeName = $(this).attr("value");
        geocoder.geocode({'placeId': placeId}, function (results, status) {
            if (status === 'OK') {
                if (results[0]) {
                    map.setZoom(16);
                    map.setCenter(results[0].geometry.location);

                    if(marker != undefined) {
                        marker.setMap(null);
                    }
                    marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });

                    var address = '';
                    if (results[0].address_components) {
                        address = [
                            (results[0].address_components[0] && results[0].address_components[0].short_name || ''),
                            (results[0].address_components[1] && results[0].address_components[1].short_name || ''),
                            (results[0].address_components[2] && results[0].address_components[2].short_name || '')
                        ].join(' ');
                    }
                    //정보 표시
                    infowindow.setContent('<div><strong>' + placeName + '</strong><br>' + address);
                    infowindow.open(map, marker);
                } else {
                    window.alert('No results found');
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });
    });
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARFVHKNuUhIbya3S0o0ieuYUI0q5OHz_I&callback=initMap">
</script>