<main class="mdl-layout__content">
  <div class="site-content">
    <div class="container">
      <div class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" >
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <li>
                <%= image_tag('#') %>
              </li>
              <!--<li><div class="mdl-card__title">-->
              <!--<h2 class="mdl-card__title-text">City Scape</h2>-->
              <!--</div>-->
              <!--<div class="mdl-card__supporting-text">-->
              <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt..-->
              <!--</div><br>-->
              <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
              <!--<%= link_to "Learn More", controller: "home", action: "template2" %>-->
              <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
      </div>
      <ul class="pagination center-align">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active blue-text text-darken-2 blue lighten-1"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>
  <footer class="mdl-mini-footer blue-text text-darken-2 white">
    <div class="footer-container blue-text text-darken-2">
      <div class="mdl-logo blue-text text-darken-2">&copy; Unitiled. Design: <a href="https://templateflip.com/" target="_blank" class="blue-text text-darken-2">TemplateFlip</a></div>
      <ul class="mdl-mini-footer__link-list blue-text text-darken-2">
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  </footer>
</main>

<style>
  .mdl-button--accent.mdl-button--accent {
    color: rgb(255, 255, 255);
  }
  .slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .slider .indicators .indicator-item.active {
    background-color: #ffffff;
  }
  .mdl-card__actions.mdl-card--border {
    margin-top: 60%;
    text-align: right;
    padding-right: 30px;
  }
  .slider .slides {
    background-color: #ffffff;
  }
  .slider {
    margin: 0 auto;
  }
  .slider .indicators {
    bottom: 40px;
    z-index: 100;
  }
  .mdl-card {
    height: 400px;
  }

  .site-navigation-row .mdl-navigation {

    background-color: rgba(0,0,0,0);
  }
  .mdl-layout__header{
    background-color: white;
  }
  .mdl-layout__header-row{
    background-color: white;
  }
</style>

<script>
    $(function(){
        $('.carousel.carousel-slider').carousel({
            full_width: true,
            dist: 0,
        });
    });

    $(document).ready(function(){
        $('.slider').slider();
    });
</script>